.flyer {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  background: white;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: transform 0.5s ease-in-out;
  border-radius: 10px 0 0 10px;
  font-family: "Nunito Sans";
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.close-button {
  background: #f1f1f1;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

h3 {
  color: #333;
  margin: 0;
  flex-grow: 1;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input {
  width: 95%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.eye-button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.eye-button img {
  width: 24px;
  height: 24px;
}

.forgot-password {
  color: #007bff;
  text-align: right;
  cursor: pointer;
  font-size: 12px;
}

.math-problem {
  display: flex;
  align-items: center;
  gap: 10px;
}
.math-problem .math-box {
  background: #eeedfe;
  padding: 8px 16px;
  border-width: 1.5px;
  border-radius: 4px;
  border-color: #dddbfe;
}
.math-problem button {
  background: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
}

.refresh-button img {
  width: 18px;
  height: 18px;
}

button[disabled] {
  background: #ccc;
  cursor: not-allowed;
}

button {
  background: #564cfa;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

button:hover:not([disabled]) {
  background: #453ed1;
}

button img {
  width: 24px;
  height: 24px;
}

.register {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.register a {
  color: #007bff;
  text-decoration: none;
}
