<nav class="sidenav" [class.collapsed]="!isExpanded">
  <div class="sidenav-header">
    <button class="toggle-btn" (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="title-header">
      <span class="logo" *ngIf="isExpanded">DGH</span>
    </div>
  </div>

  <ul class="menu-list">
    <li *ngFor="let item of menuItems">
      <a [routerLink]="item.link">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span *ngIf="isExpanded">{{ item.label }}</span>
      </a>
    </li>
  </ul>

  <div class="logout" *ngIf="isExpanded">
    <a href="#">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </a>
  </div>
</nav>
