.sidenav {
  width: 204px;
  height: 100vh;
  background: #ffff;
  color: #000;
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #d0d7e3;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.sidenav.collapsed {
  width: 70px;
  pointer-events: auto !important;
  overflow: visible;
}

.sidenav.collapsed a {
  justify-content: center;
}

.sidenav.collapsed a span {
  display: none;
}

.sidenav:not(.collapsed) {
  pointer-events: auto !important;
}

// Aligning the styles
.sidenav a {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  color: #564cfa;
  text-decoration: none;
  font-size: 16px;
  transition: background 0.3s ease, color 0.3s ease;
}

.sidenav a:hover,
.sidenav a.active {
  background: #dddbfe;
  font-weight: 500;
  color: #564cfa;
  border-right: 5px solid #564cfa;
}

.sidenav mat-icon {
  font-size: 20px;
  margin-right: 10px;
}

.toggle-btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px;
  z-index: 1001;
  pointer-events: auto !important;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-list li {
  // padding: 10px;
}

.menu-list a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--color-grey-grey-tint-30, #3f3f46);
  font-family: var(--Typography-Font-Family-Nunito-Sans, "Nunito Sans");
  font-size: var(--Typography-Font-Size-Font-size-30, 16px);
  font-style: normal;
  font-weight: var(--Typography-Font-Weight-Medium, 500);
  line-height: var(--Typography-Font-Line-Height-24, 24px);
  text-decoration: none;
  transition: background 0.3s ease;
}

.menu-list a:hover,
.menu-list a.active {
  background: #dddbfe;
  border-radius: 1px;
}

.menu-list mat-icon {
  margin-right: 10px;
}

.logout {
  margin-top: auto;
  padding: 10px;
}

.logout a {
  display: flex;
  align-items: center;
  color: #d32f2f;
  text-decoration: none;
}

.logout mat-icon {
  margin-right: 10px;
}

.title-header {
  display: inline-block;
  height: 90px;
  position: relative;
  top: 27px;
  left: 24px;
}

.title-header span {
  color: var(--color-grey-grey-tint-30, #3f3f46);
  font-family: var(--Typography-Font-Family-Nunito-Sans, "Nunito Sans");
  font-size: var(--Typography-Font-Size-Font-size-30, 16px);
  font-style: normal;
  font-weight: var(--Typography-Font-Weight-Medium, 500);
}
