
<footer style="
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;">
  <div class="row">
    <div class="col-2"></div>
    <div class="subFT col-10"
    >
      <button mat-button> Button1 </button>
      <button mat-button> Button2 </button>
      <button mat-button> Button3 </button>
      <button mat-button disabled> Contact-Us : +1 2048 3994 81 </button>
      <button mat-button disabled> Email-Us : contactusblogs.com </button>
    </div>

    <mat-divider style="background-color: gray;"></mat-divider>

    <div class="subFT" >
      <a href="#"><i class="bi bi-star-fill"></i></a>
      <a href="#"><i class="bi bi-8-circle-fill"></i></a>
     
    </div>

    <div class="ft-legal" >
      <a href="#">Terms &amp; Conditions</a>
      <a href="#" style="margin-left: 20px;margin-right: 20px;">Privacy Policy</a>
      <a style="color: gray;">&copy; 2021 Copyright Digital Solutions</a>
    </div>

  </div>
</footer>