<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-name">DGH</span>
</mat-toolbar>

<!-- Breadcrumb Section -->
<!-- <div class="breadcrumb-container">
  <span class="breadcrumb">Home / Dashboard</span>
</div> -->

<!-- Sidenav and Content -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpen" class="sidenav">
    <mat-nav-list>
      <mat-list-item class="menu-item">
        <!-- <a [routerLink]="'dashboard'" class="menu-link"> -->
        <!-- (click)="navigateToModules('d')" -->
        <a class="menu-link" href="/dashboard">
          <mat-icon class="menu-icon">dashboard</mat-icon>
          <span class="menu-text">Dashboard</span>
        </a>
      </mat-list-item>

      <mat-list-item class="menu-item">
        <a [routerLink]="['profile']" class="menu-link">
          <mat-icon class="menu-icon">person</mat-icon>
          <span class="menu-text">Profile</span>
        </a>
      </mat-list-item>

      <mat-list-item class="menu-item">
        <!-- (click)="navigateToModules('s')" -->
        <a class="menu-link" href="/settings">
          <mat-icon class="menu-icon">settings</mat-icon>
          <span class="menu-text">Settings</span>
        </a>
      </mat-list-item>

      <mat-list-item class="menu-item">
        <mat-icon class="menu-icon">help</mat-icon>
        <span class="menu-text">Help</span>
      </mat-list-item>

      <mat-list-item class="menu-item logout">
        <mat-icon class="menu-icon">logout</mat-icon>
        <span class="menu-text">Logout</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- <mat-sidenav-content class="content">
    <p>Main Content</p>
    <router-outlet></router-outlet>
  </mat-sidenav-content> -->
</mat-sidenav-container>
