@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
.app-name {
  font-size: 20px;
  font-weight: 500;
}
.sidenav-container {
  height: 100vh;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #1565c0;
  color: white;
}

.sidenav {
  background: linear-gradient(to bottom, #1e3c72, #2a5298);
  width: 260px;
  padding-top: 10px;
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
}

mat-nav-list {
  padding: 0;
}

mat-nav-list a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

mat-nav-list a:hover {
  background: rgba(255, 255, 255, 0.2);
}
.breadcrumb-container {
  background-color: #1976d2;
  padding: 10px;
}

.breadcrumb {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.sidenav {
  background-color: #f0f0f0;
  width: 250px;
}

mat-nav-list {
  padding: 0;
}

mat-list-item {
  padding: 15px;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

mat-list-item:hover {
  background-color: #bbdefb;
}

mat-icon {
  color: whitesmoke;
}

.menu-item {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: white;
  padding: 12px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 8px 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.menu-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background: rgba(255, 255, 255, 0.2);
  transition: left 0.3s ease-in-out;
}

.menu-item:hover::before {
  left: 0;
}

.menu-item:hover {
  transform: scale(1.05);
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

.menu-icon {
  margin-right: 15px;
  color: #f7f6f2;
  font-size: 24px;
}

.menu-text {
  flex-grow: 1;
  font-size: 15px;
  color: whitesmoke;
}

.logout {
  background: linear-gradient(to right, #d32f2f, #b71c1c);
  font-weight: bold;
  margin-top: 20px;
}

.logout:hover {
  background: linear-gradient(to right, #ff5252, #d32f2f);
}
