* {
  font-family: "Nunito Sans", sans-serif;
}

form {
  background-color: #f9f9f9;
  padding: 20px;
  border-top: 2px solid #ddd;
  height: 100vh;
}

.forgot-password {
  color: #007bff;
  text-align: right;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  margin-top: 0;
}

.captcha-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}

.captcha-image {
  height: 50px;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 4px;
}

.refresh-button img {
  width: 18px;
  height: 18px;
}

//   button[disabled] {
//     background: #ccc;
//     cursor: not-allowed;
//   }

.login-button {
  background: #564cfa;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  margin-top: 25px;
}

.login-button:hover:not([disabled]) {
  background: #453ed1;
}

.login-button img {
  width: 20px;
  height: 20px;
}

.register {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}

.register a {
  color: #007bff;
  text-decoration: none;
}
