<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input-email
    [group]="loginForm"
    fieldName="userId"
    label="User ID"
    placeholder="Enter your User ID"
    [isRequired]="true"
    [errors]="[{ type: 'required', message: 'User ID is required' }]"
  ></input-email>

  <!-- Replaced with input-password component -->
  <lib-input-password
    [group]="loginForm"
    fieldName="password"
    label="Password"
    placeholder="Enter Password"
    [isRequired]="true"
    [errors]="[{ type: 'required', message: 'Password is required' }]"
  ></lib-input-password>

  <div class="forgot-password">Forgot Password?</div>

  <div class="captcha-container">
    <img [src]="captchaImage" alt="CAPTCHA" class="captcha-image" />
    <div class="refresh-button">
      <img src="http://localhost:4201/reload.png" alt="Refresh CAPTCHA" />
    </div>
  </div>

  <input-email
    [group]="loginForm"
    fieldName="captcha"
    label="Enter the text from the image"
    placeholder="Enter CAPTCHA"
    [isRequired]="true"
    [errors]="[{ type: 'required', message: 'CAPTCHA is required' }]"
  ></input-email>

  <button type="submit" class="login-button">
    <img src="http://localhost:4201/login.png" alt="login" />
    Login
  </button>
  <div class="register">Don’t have an account? <a href="#">Register</a></div>
</form>


