<div class="container">
  <h1>Reusable Accordian</h1>
  <br>
  <lib-accordionLib title="First Section" [isOpen]="true">
    <p>Accordian content</p>
    <p>This section is the content for accordion-content.</p>
  </lib-accordionLib>
  
  <lib-accordionLib title="Second Section" [isOpen]="false">
    <p>This section is open by default.</p>
  </lib-accordionLib>

  <lib-accordionLib title="Third Section" [isOpen]="false">
    <p>This section contains third accordion-content</p>
  </lib-accordionLib>
  

  <h1>Reusable Buttons</h1>
  <br>
        <lib-buttonLib
    label="Submit"
    color="btn-success"
    size="lg"
    (onClick)="handleSubmit()"
  ></lib-buttonLib>
  &nbsp;
  <lib-buttonLib
  label="Forward"
  color="btn-danger"
  size="md"
  (onClick)="handleCancel()"
></lib-buttonLib>
&nbsp;
  <lib-buttonLib
    label="Cancel"
    color="btn-danger"
    size="sm"
    (onClick)="handleCancel()"
  ></lib-buttonLib>
</div>
