<app-common-page></app-common-page>
<div class="container">
  <h5>Reusable Accordian</h5>
  <div class="container border bg">
    <lib-accordionLib [items]="accordionData">
    </lib-accordionLib>
  </div>
 

  <hr>
  <h5>Reusable Buttons</h5>
  <br />
  <lib-buttonLib
    label="Submit"
    color="btn-success"
    size="lg"
    (onClick)="handleSubmit()"
  ></lib-buttonLib>
  &nbsp;
  <lib-buttonLib
    label="Forward"
    color="btn-danger"
    size="md"
    (onClick)="handleCancel()"
  ></lib-buttonLib>
  &nbsp;
  <lib-buttonLib
    label="Cancel"
    color="btn-danger"
    size="sm"
    (onClick)="handleCancel()"
  ></lib-buttonLib>
  &nbsp;
  <lib-buttonLib
    label="Logout"
    color="btn-danger"
    size="sm"
    (onClick)="logout()"
  ></lib-buttonLib>
  &nbsp;
  <lib-buttonLib
    label="Alert"
    color="btn-danger"
    size="sm"
    (onClick)="openAlert()"
  ></lib-buttonLib>
  &nbsp;
  <lib-buttonLib
    label="modal"
    color="btn-danger"
    size="sm"
    (onClick)="openModal()"
  ></lib-buttonLib>
  &nbsp;
  <lib-buttonLib
    label="CMS"
    color="btn-success"
    size="sm"
    (onClick)="moveToCms()"
  ></lib-buttonLib>
</div>

<lib-modal-lib
  *ngIf="modalConfig"
  [modalConfig]="modalConfig"
  (saved)="show($event)"
  (closed)="close($event)"
>
  <div>
    Dynamic content
    <p>Anything</p>
  </div>
</lib-modal-lib>
